header .dropdown a div.circle img{
  margin-top: -7px;
}

span.badge.communications{
  margin-top: -12px;
  margin-left: -10px;
  background: #e7564f;
  font-size: 10px;
}

.bg-about-1{
  background:url(../img/bg/about-2.jpg);
}

.bg-about-2{
  background:url(../img/bg/about-1.jpg);
}

.reviews{
  background:url(../img/reviews/contact-us.jpg);
}

@media screen and (min-width: 769px) {
  .collapse.navbar-collapse a{
    font-size: 16px;
  }
}
